<div class="user-index">
  <%= render partial: '/users/user_navigation', locals: { active: :account_details } %>

  <div class="span8">
    <h1><%= current_user.full_name %>'s Collections</h1>
    <% @collections.each do |collection| %>
    <div class="row-fluid">
    <div class="span8">
      <li><%= link_to collection.name, account_collection_path(collection) %></li>
      <% if collection.sample_collection_image %>
        <%= image_tag collection.sample_collection_image.url(:large),
                      class: "img-polaroid" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

