<div class="user-index">
  <%= render partial: '/users/user_navigation', locals: { active: nil } %>

  <div class="span8">
    <h1>Create Collection</h1>
    <hr>

    <%= render 'form' %>
  </div>
</div>
