<% if store && store.products.present? %>
<div class="row-fluid">
  <div class="span6">
    <a href="<%= store_home_path(store) %>">
    <%= image_tag store.products.sample.img.url(:large),
                  class: "img-polaroid" %>
    </a>
  </div>

  <div class="span6">
    <div class="featured-text-section">
      <h4><%= link_to store.name, store_home_path(store) %></h4>
      <p><%= store.description %></p>
    </div>
  </div>
</div>
<% end %>
