<div class="row-fluid">
  <div class="span12">
    <h3>Featured Products</h3>
  </div>
</div>

<div class="row-fluid">
  <% @featured_products.each do |product| %>
    <div class="span3">
      <div class="product-display">
        <%= render partial: 'products/featured_product', locals: {product: product} %>
      </div>
    </div>
  <% end %>
</div>

<div class="row-fluid">
    <div class="span6">
      <h3>Featured Store</h3>

      <div class="store-display">
        <%= render partial: 'stores/featured_store', locals: {store: @featured_store} %>
      </div>
    </div>
    <div class="span6">
      <h3>Recent Store</h3>

      <div class="store-display">
        <%= render partial: 'stores/featured_store', locals: {store: @recent_store} %>
      </div>
    </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Recent Products</h3>
  </div>
</div>

<div class="row-fluid">
  <% @recently_listed.each do |listing| %>
    <div class="span2">

      <div class="listing-display">
        <%= render partial: 'products/recent_product', locals: {listing: listing} %>
      </div>
    </div>
  <% end %>
</div>
