<h1>Confirmation</h1>

<p>Your store is pending approval.</p>
<br>
<p>Name: <%= @new_store.name %></p>
<p>Path: <%= @new_store.path %></p>
<p>Description: <%= @new_store.description %></p>
<p>Status: Pending</p>
