<div class="login-form">
  <h1>Confirmation</h1>
  <hr>
  <p>Your store is pending approval.</p>
  <br>
  <h4>Name</h4>
  <p><%= @new_store.name %></p>
  <br>
  <h4>Path</h4>
  <p><%= @new_store.path %></p>
  <br>
  <h4>Description</h4>
  <p><%= @new_store.description %></p>
  <br>
  <h4>Status</h4>
  <p> Pending</p>
  <br>
</div>