<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= link_to store.name, store.path %></td>
    <td><%= store.path %></td>
    <td><%= store.description %></td>
  </tr>
<% end %>
</table>

<br />
