<div class="span11">

    <h3>Our Stores</h3>
    <hr>

      <% @stores.each do |store| %>
        <h3><%= link_to store.name, store.path %></h3>
        <p><%= store.description %></p>
        <br />
      <% end %>

  </div>

</div>