<div class="user-index">
  <%= render partial: 'user_navigation', locals: { active: :account_details } %>

  <div class="span8">
    <h1><%= t('account.edit')%></h1>
    <hr>

    <div class="pull-right">
    <%= link_to 'Create New Store',
                new_store_path,
                class: 'btn btn-custom-lighten' %>
    </div>

    <%= render 'form' %>
  </div>
</div>
