<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header">Uber</li>
    <li class="<%= active == :dashboard ? 'active' : '' %>">
      <%= link_to 'Dashboard', uber_stores_path %>
    </li>
  </ul>
</div>
