
<div class="row-fluid">
  <div class="span12">
    <h3>Featured Products:</h3>
  </div>
</div>

<div class="row-fluid">
  <% @products.each do |product| %>
    <div class="span3">
      <div class="product-display">
        <%= render partial: 'products/featured_product', locals: {product: product} %>
      </div>
    </div>
  <% end %>
</div>


<div class="row-fluid">
  <% @stores.each do |store, title| %>
    <div class="span6">
      <h3><%= title %></h3>

      <div class="store-display">
        <%= render partial: 'stores/featured_store', locals: {store: store} %>
      </div>
    </div>
  <% end %>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Recent Products:</h3>
  </div>
</div>

<div class="row-fluid">
  <% @listings.each do |listing| %>
    <div class="span2">

      <div class="listing-display">
        <%= render partial: 'products/recent_product', locals: {listing: listing} %>
      </div>
    </div>
  <% end %>
</div>

<div class="row-fluid">
  <div class="span12">
    <footer>
      <span>Brought to you by the fine folks of <a href="http://www.youtube.com/watch?v=rFTRmjimtCc" target="_blank">gSchool</a></span>
    </footer>
  </div>
</div>

