// Place all the styles related to the Admin::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-product-new {
  margin: 30px;
}

.admin-product-edit {
  margin: 30px;
}

.admin-product-index {
  margin: 30px;
}

.admin-thumb {
  position: relative;
}
.text-thumb {
  display: none;
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 12px;
  bottom: 0;
  margin-left: 4px;
  z-index: -1;
}

