Dear <%= @user["full_name"].titleize %>,
<br>
<br>
Thanks so much for your purchase!
<br>
We've processed your payment for <%= number_to_currency(@order_total) %>. You can find your order <a href="<%= order_url(@order_id, host: HOST_DOMAIN) %>">here</a>.
<br>
<br>
We hope you stop by again!
<br>
Frank's Monsterporium
