/*
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* For the Collections Index Page*/
.collection_title {
  padding: 40px;
}

.collection_products {
  padding: 10px;
  font-size: 70%;
  text-align: left;
}

.collection_image {
  padding: 5px;
  margin: 10px;
}

.collection_list {
  border: 2px solid black;
  padding: 20px;
  background-color: #F2F2F2;
  margin: 20px;
}

/* This is the sidebar nav used for user account and admin stuff*/
.nav-list li.nav-header {
  color: rgb(51, 51, 51);
}

.nav-list li a {
  color: rgb(57, 89, 116) ;
}
.nav-list li a:hover {
  color: #EE3A8C;
}

.nav-list li.active a {
  background-color: #EE3A8C;
  color:#fff;
}

.nav-list li.active a:hover {
  background-color: #8B2252;
  color: #fff;
}

/* Color Tabs in Admin Dashboard*/
.nav-pills li{
  margin: 0 3px 0 3px;
}
.nav-pills a{
  color: rgb(57, 89, 116);
  border: 2px solid #EE3A8C;
}

.nav-pills li.active a{
  background-color: #EE3A8C;
}
.nav-pills li.active a:hover{
  background-color: rgb(57, 89, 116);
  border: 1px solid rgb(57, 89, 116);
}

.faint{
  background-color: #5e5e5e;
  border: 0 none;
  color: #5e5e5e;
  height: 1px;
}

.inline{
  display: inline;
  float: left;
}
.morris-hover.morris-default-style {
  position:absolute;
  z-index:1000;
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}
