/*ETSY NAV LOGIC*/
.etsy-nav {
  height: 70px;
  text-align: center;
}
.etsy-nav > p, .etsy-nav > form {
  padding-top: 20px;
}
.etsy-nav > a:hover {
  text-decoration: none;
}
input.search-query {
  width: 85%;
}
.etsy-button-color {
  background-color: #e6e6e6;
}
#etsy-logo {
  background-color: #EE3A8C;
  font-family: Georgia;
  font-size: 200%;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-top: 24px;
}

/*HOME STORE LOGIC*/
div.store-display {
  background-color: white;
}


/* PRODUCT LOGIC */

div.product-display {
}
