<tr>
  <td><%= stocker.email %></td>
  <td>
      <%= link_to 'Remove',
                  store_admin_revoke_role_path(current_store, user_id: stocker),
                  method: :delete,
                  confirm: "are you sure?" %>
  </td>
</tr>
