<div class="btn-group">
  <button class="btn">Add to Collection</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="#">Create New Collection</a>
    </li>
  </ul>
</div>