<form action="<%= products_path %>" method="get" class="form-search">
  <input type="text" id="product-search" value="<%= search_value %>" name="search" class="input-medium search-query">
  <button type="submit" class="btn btn-custom-lighten"><%= t 'navigation.search' %></button>
</form>
