<div class="product-index">
  <section class="row">
    <%= render partial: 'category_dropdown',
               locals: { categories: @categories } %>
  </section>

  <br/>

  <div id="product_listing" class="row-fluid">
    <%= render @products %>
  </div>
</div>

