<div class="row-fluid">
  <div class="span12">
    <footer>
      <span>Brought to you by the fine folks of <a href="http://www.youtube.com/watch?v=rFTRmjimtCc" target="_blank">gSchool</a></span>
    </footer>
  </div>
</div>