<div id="main" role="main">
  <div class="lead_background">
    <div class="lead_text">
      <h1 class="white">Welcome to Robofy.</h1>
      <h3 class="white">Create an online shop now and start selling your robots online.</h2>
    </div>
  </div>
</div>