<div class='row-fluid'>
  <div class="span2 etsy-nav" id="etsy-logo">
    Jeffsy
  </div>

  <div class='span3'>
    <div class='row-fluid'>
      <div class='btn span6 etsy-nav'>
        <p><%= link_to 'Signup', signup_path %></p>
      </div>
      <div class='btn span6 etsy-nav'>
        <p><%= link_to 'Login', login_path %></p>
      </div>
    </div>
  </div>
  
  <div class='span5 etsy-nav etsy-search-bar'>
    <form>
      <input type="text" class="search-query" placeholder="Search">
    </form>
  </div>
  
  <div class='span2 btn etsy-nav'>
    <p><i class="icon-shopping-cart"></i> Cart</p>
  </div>
</div>